.portletval {
    background-color: #359DF5;
    border: 1px solid blue;
}

.table-background {
    background-color:#7575a3;
    color: white;
}
.linkstyle{
    color:white;
    text-decoration: none;
}
.linkstyle:hover{
    color:white;
    text-decoration: none;
}